
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Festive&display=swap');
/*got pink #FFAEBC; Tiffany blue #A0E7E5; Mint #B4F8C*/
* {
    box-sizing: border-box;
}
h1 {
    font-family: 'Festive';
    font-size: 48px;
}
h3 {
    margin: 5px;
    padding: 5px;
}
body {
    margin: 0;
    font-family: 'Bona Nova', serif;
    background-color: #FBE7C6;
}
h1, p {
    text-align: center;
}
.form-container, .guest-list-container {
    background-color: #fff;
    max-width: 50vw;
    box-shadow: 1px 2px 5px rgb(37, 37, 37);
    margin: 40px auto;
    padding: 30px 20px;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
}
input {
    padding: 15px 10px;
    font-size: 16px;
    margin: 5px;
    width: 100%;
}
.form-container .add-buttons .remove-buttons {
    background-color: #fff;
    font-size: 16px;
    margin: 5px;
    padding: 5px 5px;
    width: 150px;
    font-size: 14px;
}
.guest-list-container h2 {
    margin-top: 0;
    width: 100%;
    text-align: left;
}
li {
    font-size: 24px;
    padding: 5px 5px;
    text-decoration: none;
}
.form-container div {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: flex-start;
}
.form-container button {
    padding: 5px 5px;
    margin: 5px 5px;
}
